services:
  api:
    restart: always
    build: ./app
    depends_on:
      - db
    expose:
      - 5000
    environment:
      DATABASE_URI: postgresql://agilus:agilus@db:5432/agilus
    ports:
      - 5000:5000
    volumes:
      - ./app:/app

  db:
    image: postgres:16.4
    environment:
      POSTGRES_DB: agilus
      POSTGRES_USER: agilus
      POSTGRES_PASSWORD: agilus
    volumes:
      - ./schemas/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432
